body,
html {
  overflow-x: hidden;

  scroll-behavior: smooth;
}

body {
  background-color: #1e1e1e;
  max-width: 100vw;
}
body::-webkit-scrollbar {
    background-color: #f2c7e2;
    
    width: 0px;
  }



#navlinks .nav-link:hover {
  color: #f67dea;

}

#mainNav {
  font-family: "Marvel";
  font-size: 2.2rem;
  overflow: hidden;
  width: 650px;

}

#navlinks .navbar-nav {
  backdrop-filter: blur(15px);
  border-radius: 8px;
  margin-top: 15px;
  overflow: hidden;

}

nav li {
  display: inline-block;
  margin-top: -20px;
  padding: 15px;
  
}

nav li:hover {
  text-decoration-line: line-through;
  text-decoration-color: #ce0ebb;
  
}

#mainNav .navbar-brand {
  color: #fcd7f9;
  font-size: 3rem;
  margin-top: 10px;
  font-weight: bold;
  border: 2px solid #f67dea;
  padding-left: 5px;
  padding-right: 5px;
  backdrop-filter: blur(15px);
  border-radius: 4px;
  
}

#buttonnav .navbar-toggler {
  color: #fcd7f9;
  font-size: 1.8rem;
  backdrop-filter: blur(15px);
  margin-right: 50px;
  
}

#headerArt {
  position: flex;
  justify-content: center;
  backdrop-filter: blur(3px);
  
}

.firstHeads {
  font-family: "Marvel";
  color: #f7d1f2;
  align-items: center;
  text-align: center;
  font-size: 5vw;
  position: flex;
  border: 4px solid #fff;
  backdrop-filter: blur(3px);
  border-radius: 3px;
  max-width: 100vw;
  margin-bottom: -900px;
  text-decoration: double;
  margin-top: 150px;
} 
#midTxt p {
    color:transparent;
    -webkit-text-stroke: 1px #fb93f4;
    font-size: 6vw;
}

#midTxt p:hover {
    color: #fff;
    text-shadow: 0 0 5px #e9a0ce, 0 0 25px #e9a0ce, 0 0 50px #e9a0ce,
      0 0 100px #e9a0ce;
    text-decoration: none;
  }

#midTxt:hover {
  color: #fff;
  text-shadow: 0 0 5px #e9a0ce, 0 0 25px #e9a0ce, 0 0 50px #e9a0ce,
    0 0 100px #e9a0ce;
}

.container {
  align-items: flex-start;
  display: flex;
  justify-content: space-evenly;
  width: auto;
  height: auto;
  column-gap: 800px;
  margin-bottom: -900px;
  
}

#sak2 {
  transform: scaleX(-1);
  width: 2000px;
  opacity: 0.75;

}

#sak1 {
  opacity: 0.75;
  width: 2000px;
}

#app {
    max-height: 50vh;
    max-width: 50vw;
  }
  

.container2 {
  width: 130vw;
  height: 100vh;
  overflow: visible;

}
.loader {
  width: 100vw;
  height: 100vh;
  opacity: 0.65;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow: clip;
}
.loader span {
  width: 400px;
  height: 200px;
  background: url("blossom.png");
  background-size: 320px;
  opacity: 0;
  -webkit-animation: loader 10s infinite linear;
  -moz-animation: loader 10s infinite linear;
  animation: loader 10s infinite linear;
}
.loader span:nth-child(5n + 5) {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

.loader span:nth-child(3n + 2) {
  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
  animation-delay: 3s;
}

.loader span:nth-child(2n + 5) {
  -webkit-animation-delay: 5s;
  -moz-animation-delay: 5s;
  animation-delay: 5s;
}

.loader span:nth-child(3n + 10) {
  -webkit-animation-delay: 7s;
  -moz-animation-delay: 7s;
  animation-delay: 7s;
}

.loader span:nth-child(7n + 2) {
  -webkit-animation-delay: 9s;
  -moz-animation-delay: 9s;
  animation-delay: 9s;
}

.loader span:nth-child(4n + 5) {
  -webkit-animation-delay: 11s;
  -moz-animation-delay: 11s;
  animation-delay: 11s;
}

.loader span:nth-child(3n + 7) {
  -webkit-animation-delay: 8s;
  -moz-animation-delay: 8s;
  animation-delay: 8s;
}
@keyframes loader {
  0% {
    width: 128px;
    height: 128px;
    opacity: 0;

    -webkit-transform: translate(0, 0vh) rotateZ(0deg);
  }
  25% {
    width: 128px;
    height: 128px;
    opacity: 1;

    -webkit-transform: translate(0, 25vh) rotateZ(90deg);
  }
  75% {
    width: 128px;
    height: 128px;
    opacity: 1;

    -webkit-transform: translate(5vw, 75vh) rotateZ(270deg);
  }
  100% {
    width: 128px;
    height: 128px;
    opacity: 0;

    -webkit-transform: translate(10vw, 100vh) rotateZ(360deg);
  }
}

#contactList {
    float: right;
}



#contactList .contact {
    max-width: 100%;
    height: auto;
    width: auto;
    margin-top: 15px;
    float: right;
  }

#contact1 {

    opacity: 0.75;
    position: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: column;
    max-width: 50vw;
    float: right;
  
  }

#contact1 li {
    display: inline-block;

}

  #link {
    width: 75px;
    height:75px;
    backdrop-filter: blur(10px);
    padding: 10px;
    border-radius: 3px;
  }
  #git {
    width: 75px;
    height:75px;
    backdrop-filter: blur(10px);
    padding: 10px;
    border-radius: 3px;
  }
  #outlook {
    width: 75px;
    height:75px;
    backdrop-filter: blur(10px);
    padding: 10px;
    border-radius: 3px;
  }
  #phone {
    width: 75px;
    height:75px;
    backdrop-filter: blur(10px);
    padding: 10px;
    border-radius: 3px;
  }
  #art {
    width: 75px;
    height:75px;
    backdrop-filter: blur(10px);
    padding: 10px;
    border-radius: 3px;
  }



#mainFocus {
    max-height: 50vh;
    max-width: 50vw;
    position: flex;

    margin-top: -450px;
    margin-left: 105px;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: row;
    align-content: center;
  }
  .button2 {
    --light: #f67dea;
    --dark: #e6b0de;
    --border: #f67dea;
    --background: #1e1e1e;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 0;
    padding: 0 30px;
    width: auto;
    height: 125px;
    font-size: 3rem;
    margin-top: 50px;
    margin-right: 50px;
    border-radius: 2px;
    border: 2px solid var(--border);
    background: none;
    backdrop-filter: blur(15px);
    color: var(--dark);
    cursor: pointer;
    outline: none;
    box-shadow: 0 10px 30px rgba(#414856, 0.1);
    transition: transform .1s linear,
      color .1s linear,
      background .15s linear;
    
    > span {
      
      width: 450px;
      display: inline-block;
      position: relative;
      z-index: 2;
      transition: transform .15s linear;
    }
  
  }
    .button2 a {
      color:#f2c7e2;
      text-decoration: none;
      
    }
    
    .button3 a {
      color:#f2c7e2;
      text-decoration: none;
      
    }
  .button3 {
    --light: #f67dea;
    --dark: #e6b0de;
    --border: #f67dea;
    --background: #1e1e1e;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 0;
    padding: 0, 30px;
    width: auto;
    height: 125px;
    font-size: 3.0rem;
    margin-top: 50px;
    margin-right: -455px;
    border-radius: 2px;
    border: 1px solid var(--border);
    background: none;
    color: var(--dark);
    cursor: pointer;
    outline: none;
    backdrop-filter: blur(15px);
    box-shadow: 0 10px 30px rgba(#414856, 0.1);
    transition: transform .1s linear,
      color .1s linear,
      background .15s linear;
    
    > span {
      
      width: 450px;
      display: inline-block;
      position: relative;
      z-index: 2;
      transition: transform .15s linear;
    }
  }

#content h2.text-center {

    font-size: 4vmin;
    float: left;
    color: #b2bfff;

  
  }

#content ol h2 {
    font-size: 2.5vmin;
    color: #b2bfff;
    text-shadow: 
      0 0 5px #DEA5E7,
      0 0 25px #DEA5E7,
      0 0 50px #DEA5E7,
      0 0 100px #DEA5E7;
  }

  

#myProjects {
  float: left;
  margin-top: 200px;
}

#myProjects2 {
  float: right;
  margin-right: 200px;

}



#column1 ol {
  margin-top: 150px;
  list-style-type:circle;
 

} 

#column1 p {
  font-size: 2vmin;
  width: 1500px;
}

#column1 li h2 {
  color:#b2bfff;
  font-family: 'JetBrains Mono';
  font-size: 4vmin;
}

#column1 ol li {
  font-size: 2vh;  
  color: white;
  backdrop-filter: blur(3px);

}

ol .res {
  font-family: 'JetBrains Mono';
  font-size: 1.3vh;
  font-weight: lighter;
  color: #f0a5ff;
}



#colContent {
  padding: 20px;
  position: flex;
  flex-direction: row;
  justify-content: space-between;
}

#column2 .headText {
  color: #f2c7e2;
  font-size: 2vmin;
  text-align: center;
  width: 1450px;

}


#column2 .text-center2 {
  font-size: 6.2rem;
  color: #b2bfff;
  text-align: center;
  padding: 10px;
}

#column2 .subtext2 {
  color: #f0a5ff;
  text-align: left;
  font-weight: lighter;
  font-size: 2vmin;
}



#dropButtons button{
  position: flex;
  display: flex;
  justify-content: center;
  align-content: center;
  font-family: 'JetBrains Mono';

}

.dropdown-content a:hover {background-color: #1e1e1e;}

.dropdown:hover .dropdown-content {display: block; width: 1500px;}

.dropdown:hover .dropbtn {background-color: #3e3e3e;}

.dropbtn {
  background-color:transparent;
  font-size: 3rem;
  color: #b2bfff;
  text-shadow: 
      0 0 5px #DEA5E7,
      0 0 25px #DEA5E7,
      0 0 50px #DEA5E7,
      0 0 100px #DEA5E7;
  padding: 16px;
  font-size: 3.5vmin;
  border-radius: 6px;
  border-style: inset;
  border-width: 3px;
  border-color: #dea5e7;


}



.dropdown-content {
  display: none;
  position: absolute;
  backdrop-filter: blur(6px);
  padding: 15px;
  box-shadow: 4px 16px 16px 4px rgba(0,0,0,0.6);
  z-index: 1;
  border-radius: 6px;
  margin-left: -100px;

}





  @media screen and (min-width: 200px) and (max-width:300px){
    #link, #art, #phone, #outlook, #git{
      width: 35px;
      height: 35px;
    }
    #contact li {
      display: inline-block;
    }
    
    #mainNav .navbar-brand {
      
      font-size: 1rem;
  
    }
  }


  @media screen and (min-width: 300px) and (max-width:700px){
  #link, #art, #phone, #outlook, #git{
    width: 45px;
    height: 45px;
  }
  #contact li {
    display: inline-block;
  }
  
  #mainNav .navbar-brand {
    
    font-size: 1rem;

  }
  .firstHeads {
    border: 2px solid #fff;
    backdrop-filter: blur(5px);
    border-radius: 3px;
    margin-top: 100px;
  }


  #buttonnav .navbar-toggler {
    margin-left: -575px;
    font-size: 1rem;

  }

  #navlinks .navbar-nav {
    font-size: 1rem;
  }



}

@media screen and (min-width: 340px) and (max-width:1000px) {
  #mainFocus .button2 {
    font-size: 1rem;
    width: 175px;
    height: 50px;
    margin-top: 100px;
    > span {
      width: 150px;
      
      text-align: center;
    }

  }

  #mainFocus .button3 {
    font-size: 1rem;
    width: 175px;
    height: 50px;
    margin-top: 100px;
    > span {
      width: 150px;
      
      text-align: center;
    }

  }

  #mainFocus {
    margin-left: -250px;
  }

  #container2 {
    margin-top: -100px;
  }
  #buttonnav .navbar-toggler {
    margin-left: -575px;
    font-size: 1rem;

  }
}
@media screen and (min-width: 700px) and (max-width:900px) {
  #link, #art, #phone, #outlook, #git{
    width: 45px;
    height: 45px;
  }

  #mainFocus .button2 {
    font-size: 1rem;
    width: 175px;
    height: 50px;
    margin-top: 100px;
    > span {
      width: 150px;
      
      text-align: center;
    }

  }

  #mainFocus .button3 {
    font-size: 1rem;
    width: 175px;
    height: 50px;
    margin-top: 100px;
    > span {
      width: 150px;
      
      text-align: center;
    }

  }

}

@media screen and (min-width: 50px) and (max-width:340px) {

  #mainFocus {
    display: inline-block;
  }
  #mainFocus .button2 {
    font-size: 1rem;
    width: 155px;
    height: 50px;
    margin-top: 100px;

    > span {
      width: 100px;
      
      text-align: center;
    }

  }

  #mainFocus .button3 {
    font-size: 1rem;
    width: 155px;
    height: 50px;
    margin-top: 100px;

    > span {
      width: 100px;
      
      text-align: center;
    }

  }
}

@media screen and (min-width: 900px) and (max-width:2000px) {
  #mainFocus .button2 {
    font-size: 2.3vmin;
    width: 300px;
    height: 60px;
    margin-top: 100px;
    
    > span {
      width: 150px;
      
      text-align: center;
    }

  }

  #mainFocus .button3 {
    font-size: 2.3vmin;
    width: 300px;
    height: 60px;
    margin-top: 100px;
    border: 2px solid #f67dea;
    > span {
      width: 150px;
      
      text-align: center;
    }

  }

  #mainHead {
    margin-top: 100px;
  }

  #link {
    width: 65px;
    height:65px;
    backdrop-filter: blur(10px);
    padding: 10px;
    border-radius: 3px;
  }
  #git {
    width: 65px;
    height:65px;
    backdrop-filter: blur(10px);
    padding: 10px;
    border-radius: 3px;
  }
  #outlook {
    width: 65px;
    height:65px;
    backdrop-filter: blur(10px);
    padding: 10px;
    border-radius: 3px;
  }
  #phone {
    width: 65px;
    height:65px;
    backdrop-filter: blur(10px);
    padding: 10px;
    border-radius: 3px;
  }
  #art {
    width: 65px;
    height:65px;
    backdrop-filter: blur(10px);
    padding: 10px;
    border-radius: 3px;
  }

  #mainFocus {
    max-height: 50vh;
    max-width: 50vw;
    position: flex;
    margin-left: -105px;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: row;
    align-content: center;
  }
  .container {
    align-items: flex-start;
    display: flex;
    justify-content: space-evenly;
    width: auto;
    height: auto;
    column-gap: 600px;
    margin-left: 400px;
    margin-bottom:-150px;
    margin-top: 320px;
  }


  #sak2 {
    transform: scaleX(-1);
    width: 900px;
    opacity: 0.75;

  }
  
  #sak1 {
    opacity: 0.75;
    width: 900px;

  }
  
  .firstHeads {
    font-family: "Marvel";
    color: #f7d1f2;
    align-items: center;
    text-align: center;
    font-size: 8.5vmin;
    position: flex;
    border: 3px solid #fff;
    backdrop-filter: blur(3px);
    border-radius: 3px;
    max-width: 100vw;
    padding: 40px;
    text-decoration: double;
    margin-top: 150px;
  } 
  #midTxt p {
    color:transparent;
    -webkit-text-stroke: 1px #fb93f4;
    font-size: 10vmin;
}

#mainNav {
  font-family: "Marvel";
  font-size: 2.2vmin;
  overflow: hidden;
  width: 650px;

}

#navlinks .navbar-nav {
  backdrop-filter: blur(15px);
  border-radius: 8px;
  margin-top: 15px;
  overflow: hidden;

}

nav li {
  display: inline-block;
  margin-top: -20px;
  padding: 15px;
  
}

nav li:hover {
  text-decoration-line: line-through;
  text-decoration-color: #ce0ebb;
  
}

#mainNav .navbar-brand {
  color: #fcd7f9;
  font-size: 3vmin;
  margin-top: 10px;
  font-weight: bold;
  border: 2px solid #f67dea;
  padding-left: 5px;
  padding-right: 5px;
  backdrop-filter: blur(15px);
  border-radius: 4px;
  
}

#buttonnav .navbar-toggler {
  color: #fcd7f9;
  font-size: 1.8rem;
  backdrop-filter: blur(15px);
  margin-right: 50px;
  
}

#myProjects {
  float: left;

}

#myProjects2 {
  float: right;
  

}



#column1 ol {

  list-style-type:circle;
 

} 

#column1 p {
  font-size: 2vmin;
  width: 800px;
}

#column1 li h2 {
  color:#b2bfff;
  font-family: 'JetBrains Mono';
  font-size: 4vmin;
}

#column1 ol li {
  font-size: 2vh;  
  color: white;
  backdrop-filter: blur(3px);
 

}


ol .res {
  font-family: 'JetBrains Mono';
  font-size: 1.3vh;
  font-weight: lighter;
  color: #f0a5ff;
}

#content h2.text-center {

  font-size: 6vmin;
  text-align: center;
  color: #b2bfff;
  margin-left: 30px;
  font-family: 'Jetbrains Mono';

}

#colContent {

  position: flex;
  flex-direction: row;
  justify-content: space-between;
}

#column2 .headText {
  color: #f2c7e2;
  font-size: 2vmin;
  text-align: center;
  float: right;
  width: 600px;
  margin-left: 20px;


}

#column2 {
  margin-right: -15px;
}

#content ol h2 {
  font-size: 3vmin;
}

#column2 .text-center2 {
  font-size: 6vmin;
  color: #b2bfff;
  text-align: center;
  padding: 10px;
  
  margin-right: -220px;
  font-family: 'Jetbrains Mono';
}

#column2 .subtext2 {
  color: #f0a5ff;
  text-align: left;
  font-weight: lighter;
  font-size: 2vmin;
}


}