body, html {
overflow-x: hidden;
margin: 0;
}

body {
background-color: #1e1e1e;

}

#navlinks .nav-link:hover {
color: #f67dea;
}

#mainNav {
font-family: "Marvel";
font-size: 2.5rem;
overflow: hidden;

}

#navlinks .navbar-nav {
backdrop-filter: blur(15px);
border-radius: 8px;
margin-top: 15px;
overflow: hidden;
}

nav li {
display: inline-block;
margin-top: -20px;
padding: 15px;
}

nav li:hover {
text-decoration-line: line-through;
text-decoration-color: #ce0ebb;
}

#mainNav .navbar-brand {
color: #fcd7f9;
font-size: 2rem;
margin-top: 10px;
font-weight: bold;
border: 2px solid #f67dea;
padding-left: 5px;
padding-right: 5px;
backdrop-filter: blur(15px);
border-radius: 4px;
}

#buttonnav .navbar-toggler {
color: #fcd7f9;
font-size: 1.8rem;
backdrop-filter: blur(15px);
}

#headerArt {
position: flex;
justify-content: center;
backdrop-filter: blur(3px);

}



.firstHeads {
font-family: 'Marvel';
color: #fab1f2;
align-items: center;
text-align: center;
font-size: 5.5vw;
position: flex;
border: 4px solid #fff;
backdrop-filter: blur(3px);
border-radius: 3px;
width: 99vw;
margin-bottom: -900px;
text-decoration: double;
margin-top: 150px;
}


#midTxt:hover {
    color: #fff;
    text-shadow: 0 0 5px #E9A0CE,
                0 0 25px #E9A0CE,
                0 0 50px #E9A0CE,
                0 0 100px #E9A0CE;
}


.container {
    align-items: flex-start;
    display: flex;
    justify-content: space-evenly;
    width: auto;
    height: auto;
    column-gap: 800px;

}



#sak2 {
transform: scaleX(-1);
width: 2000px;
opacity: 0.75;
margin-top: -50px;
}

#sak1 {
opacity: 0.75;
width: 2000px;



}