body, html {
overflow-x: hidden;
margin: 0;
}

body {
background-color: #1e1e1e;

}

#navlinks .nav-link:hover {
color: #f67dea;
}

#mainNav {
font-family: "Marvel";
font-size: 2rem;
overflow: hidden;

}

#navlinks .navbar-nav {
backdrop-filter: blur(15px);
border-radius: 8px;
margin-top: 15px;
overflow: hidden;
}

nav li {
display: inline-block;
margin-top: -20px;
padding: 15px;
}

nav li:hover {
text-decoration-line: line-through;
text-decoration-color: #ce0ebb;
}

#mainNav .navbar-brand {
color: #fcd7f9;
font-size: 2rem;
margin-top: 10px;
font-weight: bold;
border: 2px solid #f67dea;
padding-left: 5px;
padding-right: 5px;
backdrop-filter: blur(15px);
border-radius: 4px;
}

#buttonnav .navbar-toggler {
color: #fcd7f9;
font-size: 1.8rem;
backdrop-filter: blur(15px);
}

#headerArt {
position: flex;

justify-content: center;
}

.firstHeads {
font-family: 'Marvel';
color: #fab1f2;
margin-top: 100px;
align-items: center;
text-align: center;
font-size: 5.5vw;
position: flex;
border: 3px solid #fff;
border-radius: 3px;
width: 98vw;


}


#midTxt:hover {
    color: #fff;
    text-shadow: 0 0 5px #E9A0CE,
                0 0 25px #E9A0CE,
                0 0 50px #E9A0CE,
                0 0 100px #E9A0CE;
}


.container {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content: space-evenly;
    item
}

#sak2 {
transform: scaleX(-1);
}